@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{
	box-sizing:border-box;
	font-family:"Source sans pro", sans-serif
	}
a {color:#6cc091}
a:hover {text-decoration:none}
h1,h2,h3,h4,h5,h6{
	color: #555;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 1em 0;
}
p{
	margin: 0 0 2em 0;
	color: #9a9a9a;
}
body{margin:0}
.fina{font-weight:400!important}
#wrapper{margin:auto;width:90%;}
#nav{
background: #6cc091;
top: 0;
height: 44px;
line-height: 44px;
position:fixed;
color: #fff;
cursor: default;
left: 0;
top: 0;
width: 100%;
z-index: 10;}
#nav ul {width:40%;margin-top:0;float:right;position:relative}
.inner li {  0 0.75em;}
.inner {margin: 0 auto; position: relative; max-width: 75em;}
#nav a {text-decoration: none;color:#fff;}
.inner > a {margin-left:5%}
#header{text-align:center;margin-bottom:4em;margin-top:6em}
.fila{ margin: 0 0 -1px -2em;}
.box25,.box50,.box33,.box100{float:left;padding: 0 0 0 2em}
.box100{width:100%}
.box50{width:50%;}
.box33{width: 33.3333333333%}
.box25{width:25%;}
hr{clear:both;}
p.inter{line-height:1.5;}
.enlinea li{display:inline-block;float:left;padding:0 3px}

.enlinea i{font-size:24px;color:red;margin-left:-15px !important;padding:4%}
.mencion{border-left: solid 5px grey ;padding-left:2.5em;margin-left:0}

table{border-collapse: collapse;width: 100%;}
th ,td{padding:10px;text-decoration:bold;border-bottom: solid 1px grey ;}
td{font-size:.9em;}
 tr:nth-child(even) {
    background-color: #eee;
}
ul,ol{padding:15px}
.num{text-align:right}

.ultimatabla{border-bottom:none;}
.num1{text-align:right;border-bottom:none;}

.pic1{width:100%}

.pic21{float:left;width:32%;margin-top:2%;}
.pic2{float:left;width:32%;margin-top:2%;margin-left:2%;}

.pic3{float:left;width:24%;margin-top:1%;margin-right:2%}
.alinea{margin-top:4%;color:black;}

.pic4{float:right;width:24%;margin-top:1%;margin-left:2%}
.alinea2{margin-top:4%;color:black;}


/* ul.a { */
    /* list-style-type: none; */
/* } */